In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
%matplotlib inline

In [2]:
df = pd.read_csv(r"C:\Users\rshib\Desktop\Krato\Linear Reg\HR_comma_sep.csv")
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [17]:
X = df.drop(columns = "left")
X

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,0,sales,low
1,0.80,0.86,5,262,6,0,0,sales,medium
2,0.11,0.88,7,272,4,0,0,sales,medium
3,0.72,0.87,5,223,5,0,0,sales,low
4,0.37,0.52,2,159,3,0,0,sales,low
...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,0,support,low
14995,0.37,0.48,2,160,3,0,0,support,low
14996,0.37,0.53,2,143,3,0,0,support,low
14997,0.11,0.96,6,280,4,0,0,support,low
14998,0.37,0.52,2,158,3,0,0,support,low

In [19]:
X = pd.concat([X, pd.get_dummies(X.loc[:,["Department","salary"]])], axis=1)
X

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,salary,Department_IT,...,Department_hr,Department_management,Department_marketing,Department_product_mng,Department_sales,Department_support,Department_technical,salary_high,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,0,sales,low,0,...,0,0,0,0,1,0,0,0,1,0
1,0.80,0.86,5,262,6,0,0,sales,medium,0,...,0,0,0,0,1,0,0,0,0,1
2,0.11,0.88,7,272,4,0,0,sales,medium,0,...,0,0,0,0,1,0,0,0,0,1
3,0.72,0.87,5,223,5,0,0,sales,low,0,...,0,0,0,0,1,0,0,0,1,0
4,0.37,0.52,2,159,3,0,0,sales,low,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,0,support,low,0,...,0,0,0,0,0,1,0,0,1,0
14995,0.37,0.48,2,160,3,0,0,support,low,0,...,0,0,0,0,0,1,0,0,1,0
14996,0.37,0.53,2,143,3,0,0,support,low,0,...,0,0,0,0,0,1,0,0,1,0
14997,0.11,0.96,6,280,4,0,0,support,low,0,...,0,0,0,0,0,1,0,0,1,0
14998,0.37,0.52,2,158,3,0,0,support,low,0,...,0,0,0,0,0,1,0,0,1,0

In [5]:
X= X.drop(columns=["Department","salary","Department_IT","salary_high"])
X

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department_RandD,Department_accounting,Department_hr,Department_management,Department_marketing,Department_product_mng,Department_sales,Department_support,Department_technical,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,0,0,0,0,0,0,0,1,0,0,1,0
1,0.80,0.86,5,262,6,0,0,0,0,0,0,0,0,1,0,0,0,1
2,0.11,0.88,7,272,4,0,0,0,0,0,0,0,0,1,0,0,0,1
3,0.72,0.87,5,223,5,0,0,0,0,0,0,0,0,1,0,0,1,0
4,0.37,0.52,2,159,3,0,0,0,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,0,0,0,0,0,0,0,0,1,0,1,0
14995,0.37,0.48,2,160,3,0,0,0,0,0,0,0,0,0,1,0,1,0
14996,0.37,0.53,2,143,3,0,0,0,0,0,0,0,0,0,1,0,1,0
14997,0.11,0.96,6,280,4,0,0,0,0,0,0,0,0,0,1,0,1,0
14998,0.37,0.52,2,158,3,0,0,0,0,0,0,0,0,0,1,0,1,0

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,df["left"],test_size = 0.2)

In [7]:
X_train

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department_RandD,Department_accounting,Department_hr,Department_management,Department_marketing,Department_product_mng,Department_sales,Department_support,Department_technical,salary_low,salary_medium
9846,0.67,0.50,5,219,3,0,0,0,0,0,0,0,0,0,0,0,0,1
10102,0.55,0.54,3,190,3,0,0,0,0,0,0,0,0,1,0,0,1,0
13266,0.45,0.48,3,145,2,0,0,0,0,0,0,0,0,0,1,0,0,1
9130,0.22,0.59,5,162,2,0,0,0,0,0,0,0,0,0,1,0,1,0
7670,0.67,0.56,4,241,3,0,0,0,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14118,0.66,0.96,3,243,3,1,0,0,0,0,0,0,0,1,0,0,0,1
8098,0.98,0.69,2,204,4,0,0,0,0,0,0,1,0,0,0,0,1,0
11013,0.51,0.80,4,198,6,0,0,0,0,0,0,1,0,0,0,0,0,1
12933,0.62,0.69,4,184,3,0,0,0,0,0,0,0,0,0,0,1,1,0
6448,0.32,0.50,2,143,3,0,0,0,0,0,0,0,0,0,0,1,0,0

In [8]:
model = LogisticRegression(max_iter=10000)

In [9]:
model.fit(X_train, y_train)

LogisticRegression(max_iter=10000)

In [10]:
model.predict(X_test)

array([0, 0, 1, ..., 1, 1, 0], dtype=int64)

In [11]:
model.score(X_test,y_test)

0.807

In [12]:
model.coef_

array([[-4.08002078,  0.6647331 , -0.30586299,  0.00441613,  0.25332602,
        -1.49052781, -1.30871425, -0.57342535,  0.15128702,  0.31217307,
        -0.35341984,  0.10123003, -0.09263007,  0.03725677,  0.14684794,
         0.1372679 ,  1.80890309,  1.30821142]])